Repository Software-Engineering-2-Pixel-Studio/pixelstudio, pull requests merged in 2021-03, with the labels that each got.

#68 Included the missing game Object for AStarDebugger
  LeagueOfTowers/Assets/Scenes/Map.unity
  LeagueOfTowers/ProjectSettings/TagManager.asset
Labels: High Priority, bug

#73 implementation of the game over menu
  LeagueOfTowers/Assets/Resources/Map.txt
  LeagueOfTowers/Assets/Scenes/Map.unity
  LeagueOfTowers/Assets/Scripts/GameManager.cs
  LeagueOfTowers/Assets/Scripts/MapManager.cs
  LeagueOfTowers/Assets/Scripts/Monster.cs
  LeagueOfTowers/Assets/Sprites/UI.meta
  LeagueOfTowers/Assets/Sprites/UI/Heart.png
  LeagueOfTowers/Assets/Sprites/UI/Heart.png.meta
Labels: game

#75 fixed #74
  LeagueOfTowers/Assets/Scenes/Map.unity
  LeagueOfTowers/Assets/Scripts/GameManager.cs
Labels: bug, game

#76 Tower implementation
  LeagueOfTowers/Assets/Prefabs/Monsters/Scarecrow.prefab
  LeagueOfTowers/Assets/Prefabs/Monsters/TrainingDummy.prefab
  LeagueOfTowers/Assets/Prefabs/Projectiles.meta
  LeagueOfTowers/Assets/Prefabs/Projectiles/FireProjectile.prefab
  LeagueOfTowers/Assets/Prefabs/Projectiles/FireProjectile.prefab.meta
  LeagueOfTowers/Assets/Prefabs/Projectiles/LightProjectile.prefab
  LeagueOfTowers/Assets/Prefabs/Projectiles/LightProjectile.prefab.meta
  LeagueOfTowers/Assets/Prefabs/Projectiles/SlowProjectile.prefab
  LeagueOfTowers/Assets/Prefabs/Projectiles/SlowProjectile.prefab.meta
  LeagueOfTowers/Assets/Prefabs/Towers_1/FireTower_L1.prefab
  LeagueOfTowers/Assets/Prefabs/Towers_1/FireTower_L2.prefab
  LeagueOfTowers/Assets/Prefabs/Towers_1/FireTower_L3.prefab
  LeagueOfTowers/Assets/Prefabs/Towers_1/LightTower_L1.prefab
  LeagueOfTowers/Assets/Prefabs/Towers_1/Range.png
  LeagueOfTowers/Assets/Prefabs/Towers_1/Range.png.meta
  LeagueOfTowers/Assets/Prefabs/Towers_1/SlowTower_L1.prefab
  LeagueOfTowers/Assets/Prefabs/Towers_1/SlowTower_L2.prefab
  LeagueOfTowers/Assets/Scenes/Map.unity
  LeagueOfTowers/Assets/Scripts/GameManager.cs
  LeagueOfTowers/Assets/Scripts/Hover.cs
  LeagueOfTowers/Assets/Scripts/MapManager.cs
  LeagueOfTowers/Assets/Scripts/Projectile.cs
  LeagueOfTowers/Assets/Scripts/Projectile.cs.meta
  LeagueOfTowers/Assets/Scripts/Tile.cs
  LeagueOfTowers/Assets/Scripts/Tower.cs
  LeagueOfTowers/Assets/Scripts/Tower.cs.meta
  LeagueOfTowers/Assets/Sprites/Projectiles.meta
  LeagueOfTowers/Assets/Sprites/Projectiles/fire.png
  LeagueOfTowers/Assets/Sprites/Projectiles/fire.png.meta
  LeagueOfTowers/Assets/Sprites/Projectiles/light.png
  LeagueOfTowers/Assets/Sprites/Projectiles/light.png.meta
  LeagueOfTowers/Assets/Sprites/Projectiles/slow.png
  LeagueOfTowers/Assets/Sprites/Projectiles/slow.png.meta
  LeagueOfTowers/ProjectSettings/TagManager.asset
  LeagueOfTowers/UserSettings/EditorUserSettings.asset
Labels: High Priority, feature, game

#83 Nk fix activities
  LeagueOfTowers/Assets/Scripts/GameManager.cs
  LeagueOfTowers/Assets/Scripts/Monster.cs
  LeagueOfTowers/UserSettings/EditorUserSettings.asset
Labels: High Priority, bug, game

#84 Class diagram Update
  LeagueOfTowers/ClassDiagram4.cd
  LeagueOfTowers/ClassDiagram4.png
Labels: High Priority, documentation
